extends ../layouts/mainLayout.pug
block title 
    title Admin 

block content     
    if categories.length > 0
      table.table.table-bordered
        thead 
          tr 
            td Category Name 
            td Yayında Mı? 
            th 
          tbody 
            each category in categories 
              tr 
                td #{category.name}
                td
                    if category.status
                        .fa-solid.fa-check 
                    else 
                        .fa-solid.fa-x
                td 
                  a.btn.btn-primary.btn-sm.me-3(href=`/admin/edit-category/${category._id}`) Edit
                  a.btn.btn-danger.btn-sm(href=`/admin/delete-category/${category._id}`) Delete
    else 
      h1 Category No