extends ../layouts/mainLayout.pug

block title 
    title Ödeme Sayfası


block content

    h1.text-center.text-success Ödeme Başarılı Teşekkür Ederiz 
    a(href="/").btn.btn-primary.d-block.mx-auto.w-50 Anasayfa 